.Btn {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    background-color: #FFFFFF;
}

.Btn:active{
    background-color: #D2D3DA;
}

#arithmetical {
    background-color: #4B5EFC;
}

#arithmetical:active{
    background-color: #3A47B7
}

#functional {
    background-color: #D2D3DA;
}

#functional:active{
    background-color: #97979A;
}


.Btn > p {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000000;
    text-align: center;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
}

.Btn > svg{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}